:root {

  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --color-link: #afb1b8;
  --font-main: Roboto, sans-serif;
  --font-logo: Raleway, sans-serif;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

}

/**
  |============================
  | COMMON SETTINGS
  |============================
*/

body {

  font-family: var(--font-main);
  

  background-color: var(--color-white);
  color: var(--color-slate);
  

}

ul {

  margin: 0;
  padding: 0;

}
h1,
h2,
h3,
h4,
h5,
h6,
p {

  margin: 0;

}
img {

  display: block;

}

button {

  cursor: pointer;
}

.list {

  list-style: none;

}

.link {

  text-decoration: none;

  color: currentColor;

}

.title {

  
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--color-grey);

}

.text {

  font-size: 16px;
  line-height: 1.5;

}

.btn {

  display: block;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  
}

.container {

  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}

/**
  |============================
  | END Common Settings
  |============================
*/

/**
  |============================
  | Header
  |============================
*/

.header {
  
  width: 100%;
  
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-container {

  display: flex;
  align-items: center;

}

/* logo */
.logo {

  display: block;

  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-iris);

}

.header .logo {

  margin-right: 76px;

}

.header-container {

  display: flex;
  align-items: center;

}

.header-nav {

  display: flex;
  align-items: center;

}
.header .logo {

  display: block;
  padding-top: 25.5px;
  padding-bottom: 25.5px;

}

.header-logo {

  color: var(--color-grey);

}

.header-link {

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.header-link:hover,
.header-link:focus {

  color: var(--color-ocean);

}

/* Underlining */

.current {

  position:relative;
  
  color: var(--color-ocean);

}

/* page_underlining */
.current::after {

  position:absolute;
  content:"";
  bottom: 0px;

  display: block;
  width: 100%;
  height: 4px;
  
  background-color: var(--color-ocean);
  border-radius: 2px;

}



/* Navigation */
.nav-list {

  display: flex;
  gap: 40px;

  font-weight: 500;
  line-height: 1.5;

  color: var(--color-navy-blue);
  
}

/* contacts */
.contacts {

  margin-left: auto;

  font-style: normal;
  line-height: 1.5;

  color: var(--color-slate);
  
}
.contacts-list {

  display: flex;
  gap: 40px;
  
}

.contact-link {
 
  transition-property:color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.contact-link:hover,
.contact-link:focus {

  color: var(--color-ocean);

}

/**
    |============================
    | Hero
    |============================
  */
.hero {

  max-width: 1440px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 188px;
  padding-bottom: 188px;

  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-color: var(--color-navy-blue-modal);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}
.hero-title {

  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--color-white);
  
}

.hero-btn {

  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  margin: 0 auto;

  background-color: var(--color-iris);
  color: var(--color-white);
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.hero-btn:hover,
.hero-btn:focus {

  background-color: var(--color-ocean);

}

/**
  |============================
  | Modal window
  |============================
*/

.backdrop {

  position: fixed;
  top:0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  
  opacity: 1;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic); 
  
}

.backdrop.is-hidden .modal {

  transform: scale(1.2) translate(-50%,-50%);
  opacity: 0;

}

.modal {

  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 408px;
  min-height: 576px;

  background-color: var(--color-dairy);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  opacity: 1;
  transform: scale(1) translate(-50%,-50%);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1),
  opacity 250ms cubic-bezier(0.4,0,0.2,1);

}


.modal-btn {
  
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  fill: #2E2F42;
  background-color: var(--color-cornflower);
  border-radius: 50%;
  border:1px solid rgba(0, 0, 0, 0.1);
 
  transition: color 250ms var(--cubic),
  background-color 250ms var(--cubic);

}

.modal-btn:hover,
.modal-btn:focus {

  color: var(--color-white);
  background-color: var(--color-ocean);

}

.modal-btn:hover .modal-svg,
.modal-btn:focus .modal-svg {

  fill: currentColor;

}



/**
  |============================
  | FEATURUES
  |============================
*/
.feautures {

  padding-top: 120px;
  padding-bottom: 120px;

  text-align: left;

}

.features-list {

  display: flex;
  gap: 24px;

}

.feautures-item {

  flex-basis: calc((100%-24px) / 3);

}

.feautures-title {

  margin-bottom: 8px;
  width: 264px;

  text-align: inherit;

}

/* icons */

.container-feautures-icons {

  width: 264px;
  height: 112px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  background-color: var(--color-cloud);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

}

/**
  |============================
  | Work
  |============================
*/
.work {

  padding-bottom: 120px;

}

.work-title {

  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;

}

.work-list {

  display: flex;
  gap: 24px;

}

/**
  |============================
  | Our Team
  |============================
*/
.team {

  padding: 120px 0;

  background-color: var(--color-cloud);

}

.team-title {

  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;

}

.team-list {

  display: flex;
  gap: 24px;

}

.team-description {

  padding: 32px 0;
  
}

.team-item {

  flex-basis: calc((100%-24px) / 3);

  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-subtitle {

  margin-bottom: 8px;

}

.team-text {

  margin-bottom: 8px;

  text-align: center;
 
}

/* Team-icons */

.team-icons-list {

  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;

}

.team-icons-item {

  width: 40px;
  height: 40px;

}

.team-icons {

  fill: var(--color-cloud);

}

.team-icons-link {

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-iris);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.team-icons-link:hover,
.team-icons-link:focus {

  background-color: var(--color-ocean);

}

/**
  |============================
  | Customers
  |============================
*/

.customers {

  padding: 120px 0;

}

.customers-title {

  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  line-height: 1.1;

  color: var(--color-navy-blue);
  
}

.customers-list {

  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;

}

.customers-link {

  width: 168px;
  height: 88px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-light-slate);
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.customers-icon {

  fill: currentColor;

}

.customers-link:hover,
.customers-link:focus {

  color: var(--color-ocean);
  border-color: var(--color-ocean);

}

/**
  |============================
  | PORTFOLIO
  |============================
*/

.filter {

  padding-top:96px;
  padding-bottom:96px;

}

.filter-list {

  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;

}

.filter-btn {

  min-width: 101px;
  min-height: 48px;

  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);

  color: var(--color-iris);
  background-color: var(--color-cloud);

  transition-property: color, background-color, box-shadow,border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.filter-btn:focus,
.filter-btn:hover {

  border: 1px solid transparent;
  color: var(--color-white);
  background-color: var(--color-ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

}

/* Portfolio */

.portfolio-list {

  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  flex-basis: calc((100%-48px) / 3);

}

.portfolio-item {

  background-color: var(--color-white);

}

.portfolio-link {
  
  display: block;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.portfolio-link:hover,
.portfolio-link:focus {

  background-color: var(--color-white);
  box-shadow:
   0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-title {

  margin-bottom: 8px;

  text-align: inherit;

}

.card-set {

  padding: 32px 16px;

  border: 1px solid var(--color-cornflower);
  border-top: none;

}

/* Portfolio card actions */

 .product-thumb {

  position: relative;
  overflow: hidden;
  
 }

 .thumb-text {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  color: var(--color-cloud);
  background-color: var(--color-iris);

  transform: translateY(100%);
  transition: transform 250ms ease;
 
 }

 .product-text {

  margin-top: 40px;
  margin-left: 32px;
  margin-right: 32px;

 }

 .portfolio-link:hover .thumb-text {
    
  transform: translateY(0);
   
 }

/**
  |============================
  | Footer
  |============================
*/
.footer {

  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--color-navy-blue-modal);

}

.footer > .container {

  display: flex;
  gap: 120px;
  align-items: baseline;

}

.container-left {

  width: 264px;
  padding: 0;
  margin-left: 0;

}

.container-right {

  padding: 0;

}

.footer .logo {

  display: inline-block;
  margin-bottom: 16px;

}

.footer-logo {

  color: var(--color-cloud);

}

.footer-text {

  width: inherit;

  color: var(--color-cloud);

}

.footer-title {

  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;

  color: var(--color-white);

}

/* icons */

.footer-icons-list {

  display: flex;
  gap: 16px;

}

.footer-icons-item {

  width: 40px;
  height: 40px;

}

.footer-icons {

  fill: var(--color-cloud);

}

.footer-icons-link {

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--color-iris);
  border-radius: 50%;

  transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);

}

.footer-icons-link:hover,
.footer-icons-link:focus {

  background-color: var(--color-green);
  
}

/**
   |============================
    Utilites
   |============================
 */
.visually-hidden {

  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}


.is-hidden {
  
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

}